.function-button {
  min-width: 120px;
  background-color: #4CAF50;
  border-width: 1px;
  border-color: green;
  color: white;
  padding: 15px 25px;
  margin: 2px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.function-button:hover {
  background-color: green;
}

.thumbnail_pic {
  margin: 2px;
}

body {
  font-family: Helvetica, Sans-Serif;

  /* max-width: 500px; */
  margin: 40px;
  /* margin: auto; */

}

/* .content {
  max-width: 500px;
  margin: auto;
} */
